<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="icon" type="image/png" href="/img/barberia.png" />
    <title>Inicio</title>
  </head>
  <body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
      <nav
        class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5 d-flex justify-content-between"
      >
        <a href="/" class="navbar-brand ml-lg-3">
          <h1 class="text-primary">
            <span class="text-white">SPA</span> Center
          </h1>
        </a>
        <a href="/login" style="text-decoration: none">
          <h5 style="text-decoration: none; color: white">Iniciar Sesión</h5>
        </a>
      </nav>
    </div>
    <!-- Navbar End -->
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 pb-5">
      <div
        id="header-carousel"
        class="carousel slide carousel-fade"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item position-relative active"
            style="min-height: 100vh"
          >
            <img
              class="position-absolute w-100 h-100"
              src="img/banner.jpg"
              style="object-fit: cover"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h6
                  class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown"
                  style="letter-spacing: 3px"
                >
                  Spa & Centro de Belleza
                </h6>
                <h3 class="display-3 text-white mb-3">
                  Tratamiento de Cabello
                </h3>
                <p class="mx-md-5 px-5">
                  Especialistas a nivel mundial en el cuidado de la apariencia
                  personal.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel End -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="row align-items-center">
          <div class="col-lg-6 pb-5 pb-lg-0">
            <img class="img-fluid w-100" src="img/corte.jpg" alt="" />
          </div>
          <div class="col-lg-6">
            <h6
              class="d-inline-block text-primary text-uppercase bg-light py-1 px-2"
            >
              Testimonios
            </h6>
            <h1 class="mb-4">¿Qué dicen nuestros usuarios?</h1>
            <div class="owl-carousel testimonial-carousel">
              <div class="position-relative">
                <i
                  class="fa fa-3x fa-quote-right text-primary position-absolute"
                  style="top: -6px; right: 0"
                ></i>
                <p class="m-0">
                  ¡Vaya cambio que experimenté en este centro de belleza! Mi
                  corte de pelo lo cambió todo. Ahora me siento como una versión
                  mejorada de mí mismo. Fue alucinante cómo algo tan simple como
                  cambiar mi peinado pudo impactar tanto en mi autoestima. Este
                  lugar realmente entiende lo que necesitas y cómo hacer que te
                  sientas genial. No solo me dieron un nuevo look, sino que me
                  dieron confianza. ¡Definitivamente volveré!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Team Start -->
    <div class="container-fluid py-5">
      <div class="container pt-5">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h6
              class="d-inline-block bg-light text-primary text-uppercase py-1 px-2"
            >
              Servicios
            </h6>
            <h1 class="mb-5">Especialistas de Belleza</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="team position-relative overflow-hidden mb-5">
              <img class="img-fluid" src="img/barber.jpg" alt="" />
              <div class="position-relative text-center">
                <div class="team-text bg-primary text-white">
                  <h5 class="text-white text-uppercase">
                    Estilista de Cabello
                  </h5>
                  <p class="m-0">Estilo a tu medida, belleza que destaca.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team position-relative overflow-hidden mb-5">
              <img class="img-fluid" src="img/nails.jpg" alt="" />
              <div class="position-relative text-center">
                <div class="team-text bg-primary text-white">
                  <h5 class="text-white text-uppercase">Manicure</h5>
                  <p class="m-0">Manos impecables, estilo que deslumbra.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team position-relative overflow-hidden mb-5">
              <img class="img-fluid" src="img/masaje.jpg" alt="" />
              <div class="position-relative text-center">
                <div class="team-text bg-primary text-white">
                  <h5 class="text-white text-uppercase">Masajes</h5>
                  <p class="m-0">Relajación total, bienestar a tu alcance.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team position-relative overflow-hidden mb-5">
              <img class="img-fluid" src="img/feet.jpg" alt="" />
              <div class="position-relative text-center">
                <div class="team-text bg-primary text-white">
                  <h5 class="text-white text-uppercase">Pedicure</h5>
                  <p class="m-0">Pies perfectos, estilo que impacta.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->

    <!-- Footer Start -->
    <div
      class="footer container-fluid position-relative bg-dark py-5"
      style="margin-top: 90px"
    >
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-6 pr-lg-5 mb-5">
            <a href="/" class="navbar-brand">
              <h1 class="mb-3 text-white">
                <span class="text-primary">SPA</span> Center
              </h1>
            </a>
            <p>
              Con más de 5 años de dedicación al bienestar interpersonal,
              ofrecemos una experiencia probada en el arte de realzar la belleza
              y la confianza de nuestros clientes.
            </p>
            <p>
              <i class="fa fa-map-marker-alt mr-2"></i>Calle 19 #12 - 21, Nobsa,
              Colombia
            </p>
            <p><i class="fa fa-phone-alt mr-2"></i>+57 3034506679</p>
            <p><i class="fa fa-envelope mr-2"></i>spa_center_info@gmail.com</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer End -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
